<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Игрушечный чат на React</title>
  </head>
  <body>
    <div id="app"></div>
    <script src="../../Client/js/index.js"></script>
  </body>
</html>
